* {
  box-sizing: border-box;
}




@mixin clearfix(){
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }

  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */

    *zoom: 1;
}

.error {
  position: relative;
  background: #262c3d;
  color: white;
  padding: $base-spacing;
  border-radius: 2px;
  margin-bottom: $base-spacing;
  @include clearfix;
}

.error__close {
  display: inline-block;
  float: right;
  right: $base-spacing;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
  background: red;
}