.content {
  text-align: center;
}

pre {
  text-align: left;
  font-size: 12px;
}

.menu-link {

  letter-spacing: normal;
  background: $c-blue-1;
  display: inline-block;
  padding: 10px;
  z-index: 1002;
  transition: transform .2s;
  span[class^=icon] {
    display: inline-block;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: white;
  }
  transform: translateX(0px);
  &.active {
    //transform: translateX(200px);
  }
}
@media (min-width: 869px) {
  .menu-link {
    display: none;
  }
}

.hidden {
  display: none;
}

.page-mask {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
  text-align: center;
  .no-flexbox & {
    padding-top: 50px;
  }
  .child {
    margin: auto;
  }
}


@keyframes spinner {
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

.rotate-always {
  font-size: 3em;
  color: $c-blue-1;
  display: inline-block;
  animation: spinner 2s infinite;
}