$section-height: 28px;

.regex-section {

  @include clearfix();
  padding-left: $base-spacing;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;

  .title {

    color: white;
    font-family: $base-font;
    text-align: center;
    margin-bottom: 20px;
  }
}

.regex-section__title {

  color: black;
  margin-bottom: 0;

  p {

    margin: 0;
    background: #dedede;
    padding: 5px 5px;
    display: inline-block;
    font-size: 12px;
    margin-left: 1px;
  }
}

.regex-section__input {

  input {

    height: $section-height;
    padding-left: $base-spacing;
    max-width: 100%;
    outline: 0;
    border: 0;
  }

    &.range {

    input {

      outline: 0;
      border: 0;
      width: 50%;
      float: left;

      &:first-child {
        border-right: 2px solid rgb(59, 69, 95);
      }
    }
  }
  p {

    margin: 0;
    line-height: $section-height;
    color: #ffe76e;
    font-size: 12px;
    padding-left: $base-spacing;
  }

  height: $section-height + 2;
  width: 80%;
  background: linear-gradient(left, rgb(71, 83, 114), rgb(71, 82, 112));
  float: left;
  margin-bottom: $base-spacing;
  border: 1px solid rgb(95, 104, 114);
  border-right: 0;
}

.regex-section__button {

  width: 20%;
  background: linear-gradient(left, rgb(72, 84, 116), rgb(71, 82, 112));
  border: 1px solid rgb(95, 104, 114);
  height: 30px;
  color: white;
  text-align: center;
  line-height: $section-height + 2;
  float: right;
  transition: all .1s;
  perspective: 600px;

  span {
    display: inline-block;
    transition: all .4s;
  }

  &:hover {

    cursor: pointer;
    background: rgb(76, 91, 125);
    span {
      transform: rotateX( 180deg );
      color: orange;
    }
  }
  &:active {

    box-shadow: inset 3px 0px 2px 0px black;
    span {

      color: white;
      text-shadow: 1px 1px 1px #26475c;
    }
  }
}
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
