@import "vars";

.sortable.grid {
  overflow: hidden;
  display: inline-block;
  margin: 0;
  margin-top: $base-spacing*2;
  padding: 0;
}

.sortable li {
  @include clearfix;
  list-style: none;
  background: $c-blue-1;
  color: #ffe76e;
  display: block;
  float: left;
  height: 40px;
  width: 150px;
  font-size: 12px;
  position: relative;
  line-height: 14px;
  padding-left: $base-spacing;
  padding-top: $base-spacing;
  text-align: left;
  margin-bottom: $base-spacing;
  border-radius: 5px;

  &:hover {
    cursor: move;
    background: lighten($c-blue-1, 5%);
  }

  .section-param {
    display: block;
  }

  .remove-btn {
    color: white;
    position: absolute;
    height: 40px;
    background: $c-blue-light;
    width: 40px;
    display: inline-block;
    top: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &:hover {
      cursor: pointer;
      background: $c-blue-1;
      box-shadow: inset 3px 0px 2px 0px black;
    }
  }
}
.handles span {
  cursor: move;
}
.sortable.grid li {
  /*line-height: 80px;*/
  //float: left;
  //width: 80px;
  //height: 80px;
  //text-align: center;
}